*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head-main{
    display: flex;
    justify-content: space-between;
    background-color: #4E4441;
    height: 60px;
}

.head-main ul{
    color: #FFFFFF;
    list-style-type: none;
    display: flex;
    gap: 10px
}

.head-main li{
    font-style: none;
}

.tab-ntn{
    border: none;
    border-radius: 20px;
    padding: 10px 10px;
    background-color: #F9C06A;
    color: #1E1E1E;
    font-weight: bold;
    width: 100px;
}

.content-header{
    background-image: url(coffee_image.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 768px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text{
    margin: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #FFFFFF;
    width: 30%;
    height: 60%;
}

.text img{
    width: 480px;
    height: 300px;
}

.discover{
    display: flex;
    margin: 5%;
    
}

.discover-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    width: 50%;
    margin: 80px;
}

.discover-content h2{
    color:  #603809;
    font-size: 40px;

}

.discover-content p{
    color: #707070;

}

.discover-img{
    width: 50%;
}

.different{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 5%;
}

.different h1{
    color: #603809;
    font-size: 40px;
}

.different p{
    color: #707070;
}

.different-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.different-item{
    padding: 20px;
    text-align: center;
    color: #603809;
    background-color:#FFEED8;
    border: 2px solid #603809;
}

.different-text{
    text-align: center;
    color: #603809;
}

.better{
    background-image: url(12.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    color: #FFFFFF;
    display: flex;
}

.better-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 70px;
    line-height: 50px;
}

.better-text h2{
    font-size: 40px;
}

.better-img{
    width: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;

}

.other{
    background-image: url(footer-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.colum{
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.colum ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}