h2 {
    color: red;
}

.wrap li{
    color: blue
}

.wrap li:nth-child(3) {
    color:red
}


:root {
    --primary-color: black;
    --secondary-color: orange;
    --font-size-large: 200px;
}



h1 {
    color: var(--secondary-color)
}