* {
  /* Xóa margin, padding và border mặc định */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
input,
button,
textarea,
select {
  font-family: inherit;
}
button {
  cursor: pointer;
}
body {
    background-color:ghostwhite;
    font-family: Arial, sans-serif;
    padding: 0;
    margin-left: 500px;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
}

.card-container {
    text-align: center;
}

.card {
    width: 300px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
}

.card-content h2 {
    font-size: 20px;
    color: black;
    margin: 8px 0;
}

.card-content p {
    color: gray;
    margin: 5px 0;
    margin-bottom: 10px;
}

.tag {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 10px;
}

button {
    background-color: blue;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
}

